@import url('https://fonts.googleapis.com/css2?family=Overpass&family=Red+Hat+Display:wght@300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&family=Red+Hat+Display:wght@300;500&display=swap');

/*500 and 700 font weights*/
:root {
    --primaryOrange: hsl(25, 97%, 53%);
    --white: hsl(0, 0%, 100%);
    --lightGrey: hsl(217, 12%, 63%);
    --mediumGrey: hsl(216, 12%, 54%);
    --darkBlue: hsl(213, 19%, 18%);
    --veryDarkBlue: hsl(216, 12%, 8%);


}

* {
    margin: 0;
    padding: 0;
    font-size: 15px;
    font-family: 'Overpass';
}

.main-container {
    display: flex;
    background-color: black;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.main-card {
    height: 350px;
    width: 350px;
    border-radius: 15px;
    background-image: linear-gradient(var(--darkBlue), var(--veryDarkBlue));
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: 0 15px;
}

.image-circle {
    height: 50px;
    width: 50px;
    background-color: var(--darkBlue);
    display: flex;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.card-title {
    font-weight: 700;
    color: white;
    font-size: 25px;
    margin-bottom: 10px;
}

.card-content {
    font-weight: 500;
    color: var(--mediumGrey);
    margin-bottom: 20px;
}

.choice-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.circle-item {
    height: 50px;
    width: 50px;
    background-color: var(--darkBlue);
    display: flex;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: var(--lightGrey);
    transition: 0.3s;
}

.submit-button {
    color: white;
    background-color: var(--primaryOrange);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 14px;
    border-radius: 24px;
    letter-spacing: 1.5px;
    cursor: pointer;
    transition: 0.3s;
}

.submit-button:hover {
    background-color: white;
    color: var(--primaryOrange);
}

.circle-item:hover {
    color: white;
    background-color: var(--lightGrey);
}


.active-button {
    color: white;
    background-color: var(--primaryOrange);
}

.active-button:hover {
    color: white;
    background-color: var(--primaryOrange);
}

/* .success-card {
    height: 350px;
    width: 350px;
    border-radius: 15px;
    background-image: linear-gradient(var(--darkBlue), var(--veryDarkBlue));
    padding-top: 20px;
} */

.success-card {

    height: 350px;
    width: 350px;
    background-image: linear-gradient(var(--darkBlue), var(--veryDarkBlue));
    padding-top: 20px;
    border-radius: 15px;
    display: flex;
    align-items: start;
    justify-content: center;

}

.success-main-column-content {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.container {
    display: flex;
    justify-content: center;
}

.you-selected-text {
    display: inline-block;
    background-color: var(--darkBlue);
    color: var(--primaryOrange);
    padding: 5px 20px;
    border-radius: 12px;
    margin-bottom: 20px;
}

.align-center {
    text-align: center;
    margin: 0px 10px;
}